<section class="signup-container">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #signUpForm="ngForm"
    (ngSubmit)="onSubmit(signUpForm)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        name="email"
        ngModel
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">
        Invalid E-Mail address.
      </mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">
        E-Mail cannot be empty.
      </mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Password mush contain at least 6 characters.">
      <input
        type="email"
        matInput
        placeholder="Your password"
        name="password"
        ngModel
        required
        minlength="6"
        #passwordDigits="ngModel">
      <mat-hint align="end">
        {{passwordDigits?.value?.length}} / 6
      </mat-hint>
      <mat-error>
        Password should be at least 6 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="datepicker"
        placeholder="Birth Date"
        [max]="maxDate"
        ngModel
        name="birthDate"
        required>
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker">
      </mat-datepicker-toggle>
      <mat-datepicker
        #datepicker>
      </mat-datepicker>
    </mat-form-field>

    <mat-checkbox required color="primary" ngModel name="checkbox">
        Agree To Terms and Conditions.
    </mat-checkbox>

    <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid">
      Submit
    </button>
  </form>
</section>

